In [145]:
#import necessary libraries

In [146]:
import pandas as pd 
import sklearn

In [147]:
#displaying the data using data frames

In [148]:
df = pd.read_csv("D:\\heart.csv")
df

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [149]:
#checking of the first five values

In [150]:
df.head(5)

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [151]:
#checking of last five values

In [152]:
df.tail(5)

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [153]:
#checking of duplicate values

In [154]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [155]:
#checking of total duplicated values

In [156]:
df.duplicated().sum()

1

In [157]:
#removing the duplicates

In [158]:
df.drop_duplicates().sum()
df

,ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [159]:
#rechecking the duplicate values

In [160]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

In [161]:
#changing the column name

In [162]:
df.columns=['age','sex', 'chest_pain', 'bp','cholestrol','fibrosis','ECG','thalach','exang','old_peak','slope','ca','thal','target']

In [163]:
df

,age,sex,chest_pain,bp,cholestrol,fibrosis,ECG,thalach,exang,old_peak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [164]:
#checking null values

In [165]:
df.isnull().sum()

age           0
sex           0
chest_pain    0
bp            0
cholestrol    0
fibrosis      0
ECG           0
thalach       0
exang         0
old_peak      0
slope         0
ca            0
thal          0
target        0
dtype: int64

In [166]:
#describing the dataset

In [167]:
df.describe()

,age,sex,chest_pain,bp,cholestrol,fibrosis,ECG,thalach,exang,old_peak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [168]:
#getting detailed information about the dataset

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         303 non-null    int64
 1   sex         303 non-null    int64
 2   chest_pain  303 non-null    int64
 3   bp          303 non-null    int64
 4   cholestrol  303 non-null    int64
 5   fibrosis    303 non-null    int64
 6   ECG         303 non-null    int64
 7   thalach     303 non-null    int64
 8   exang       303 non-null    int64
 9   old_peak    303 non-null    float64
 10  slope       303 non-null    int64
 11  ca          303 non-null    int64
 12  thal        303 non-null    int64
 13  target      303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [170]:
#checking datatypes

In [171]:
df.dtypes

age             int64
sex             int64
chest_pain      int64
bp              int64
cholestrol      int64
fibrosis        int64
ECG             int64
thalach         int64
exang           int64
old_peak      float64
slope           int64
ca              int64
thal            int64
target          int64
dtype: object

In [172]:
#splitting the dataset into testing and the training datasets 
#import the skicit learn library

In [173]:
import sklearn
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split

In [174]:
X = df.drop('target',axis=1)
Y = df['target']

In [175]:
X_train , X_test , Y_train , Y_test =train_test_split(X,Y,test_size=0.3 , random_state = 34)
print(X_train)

     age  sex  chest_pain   bp  cholestrol  fibrosis  ECG  thalach  exang  \
214   56    1           0  125         249         1    0      144      1
84    42    0           0  102         265         0    0      122      0
64    58    1           2  140         211         1    0      165      0
82    60    0           2  102         318         0    1      160      0
26    59    1           2  150         212         1    1      157      0
..   ...  ...         ...  ...         ...       ...  ...      ...    ...
139   64    1           0  128         263         0    1      105      1
35    46    0           2  142         177         0    0      160      1
85    67    0           2  115         564         0    0      160      0
246   56    0           0  134         409         0    0      150      1
122   41    0           2  112         268         0    0      172      1

     old_peak  slope  ca  thal
214       1.2      1   1     2
84        0.6      1   0     2
64        0.0      2   0     2
82        0.0      2   1     2
26        1.6      2   0     2
..        ...    ...  ..   ...
139       0.2      1   1     3
35        1.4      0   0     2
85        1.6      1   0     3
246       1.9      1   2     3
122       0.0      2   0     2

[212 rows x 13 columns]

In [176]:
print(Y_train)

214    0
84     1
64     1
82     1
26     1
      ..
139    1
35     1
85     1
246    0
122    1
Name: target, Length: 212, dtype: int64

In [177]:
print(X_test)

     age  sex  chest_pain   bp  cholestrol  fibrosis  ECG  thalach  exang  \
56    48    1           0  122         222         0    0      186      0
297   59    1           0  164         176         1    0       90      0
262   53    1           0  123         282         0    1       95      1
170   56    1           2  130         256         1    0      142      1
74    43    0           2  122         213         0    1      165      0
..   ...  ...         ...  ...         ...       ...  ...      ...    ...
298   57    0           0  140         241         0    1      123      1
249   69    1           2  140         254         0    0      146      0
229   64    1           2  125         309         0    1      131      1
80    41    1           2  112         250         0    1      179      0
79    58    1           2  105         240         0    0      154      1

     old_peak  slope  ca  thal
56        0.0      2   0     2
297       1.0      1   2     1
262       2.0      1   2     3
170       0.6      1   1     1
74        0.2      1   0     2
..        ...    ...  ..   ...
298       0.2      1   0     3
249       2.0      1   3     3
229       1.8      1   0     3
80        0.0      2   0     2
79        0.6      1   0     3

[91 rows x 13 columns]

In [178]:
print(Y_test)

56     1
297    0
262    0
170    0
74     1
      ..
298    0
249    0
229    0
80     1
79     1
Name: target, Length: 91, dtype: int64

In [179]:
#create a linear model and fitting the model

In [180]:
from sklearn.preprocessing import StandardScaler  
scaler =  StandardScaler()
x_train_scaled = scaler.fit_transform(X_train)
x_test = scaler.transform(X_test)
print("x_train_scaled shape:", x_train_scaled.shape)
print("y_train shape:", Y_train.shape)
x_train_new = x_train_scaled.reshape(-1, 1)
#y_predict  = model.fit(x_train_new , y_train)
#s = model.predict(y_predict)
print("x_train_scaled shape:", x_train_new.shape)
print("y_train shape:", Y_train.shape)
model = LogisticRegression()

x_train_scaled shape: (212, 13)
y_train shape: (212,)
x_train_scaled shape: (2756, 1)
y_train shape: (212,)

In [181]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

model.fit(X_train_scaled, Y_train)

LogisticRegression()

In [182]:
#predicting the model

In [204]:
model = LogisticRegression( max_iter=500)
model.fit(x_train_scaled, Y_train)
y = model.predict(X_test_scaled)
print(y)

[1 0 0 1 1 0 1 0 0 1 1 0 0 1 0 0 1 1 0 1 0 1 0 0 1 1 0 0 0 0 1 0 1 0 1 0 1
 0 1 1 0 1 1 1 0 1 0 1 1 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 0 1 1 1 1 0 1 1 0 1
 0 1 1 1 1 1 0 0 1 0 1 0 0 0 0 1 0]

In [184]:
y_predict = model.predict_proba(X_test_scaled)
print(y_predict)

[[0.21147066 0.78852934]
 [0.84875638 0.15124362]
 [0.98924132 0.01075868]
 [0.42641131 0.57358869]
 [0.01749626 0.98250374]
 [0.83660889 0.16339111]
 [0.45799033 0.54200967]
 [0.53969166 0.46030834]
 [0.98135309 0.01864691]
 [0.13689412 0.86310588]
 [0.20163173 0.79836827]
 [0.97738908 0.02261092]
 [0.92596652 0.07403348]
 [0.05528832 0.94471168]
 [0.87493227 0.12506773]
 [0.69507508 0.30492492]
 [0.37667836 0.62332164]
 [0.00689502 0.99310498]
 [0.97153183 0.02846817]
 [0.03791338 0.96208662]
 [0.89464004 0.10535996]
 [0.0615075  0.9384925 ]
 [0.97979485 0.02020515]
 [0.8688633  0.1311367 ]
 [0.01332769 0.98667231]
 [0.08778895 0.91221105]
 [0.94783721 0.05216279]
 [0.988444   0.011556  ]
 [0.55263241 0.44736759]
 [0.94051636 0.05948364]
 [0.14271804 0.85728196]
 [0.9591278  0.0408722 ]
 [0.22895467 0.77104533]
 [0.6730883  0.3269117 ]
 [0.02517619 0.97482381]
 [0.92237202 0.07762798]
 [0.35423144 0.64576856]
 [0.79477019 0.20522981]
 [0.05769725 0.94230275]
 [0.01389837 0.98610163]
 [0.964743   0.035257  ]
 [0.17726297 0.82273703]
 [0.22012025 0.77987975]
 [0.02360522 0.97639478]
 [0.55524801 0.44475199]
 [0.05469067 0.94530933]
 [0.98706175 0.01293825]
 [0.02496542 0.97503458]
 [0.31996044 0.68003956]
 [0.10610738 0.89389262]
 [0.2516422  0.7483578 ]
 [0.04155935 0.95844065]
 [0.66012329 0.33987671]
 [0.14888075 0.85111925]
 [0.03646872 0.96353128]
 [0.98282997 0.01717003]
 [0.82002227 0.17997773]
 [0.02666476 0.97333524]
 [0.31148371 0.68851629]
 [0.09273317 0.90726683]
 [0.09984243 0.90015757]
 [0.23566628 0.76433372]
 [0.01370827 0.98629173]
 [0.970828   0.029172  ]
 [0.52881501 0.47118499]
 [0.0204402  0.9795598 ]
 [0.26803463 0.73196537]
 [0.21950244 0.78049756]
 [0.18460877 0.81539123]
 [0.83866883 0.16133117]
 [0.14810966 0.85189034]
 [0.40858232 0.59141768]
 [0.91890995 0.08109005]
 [0.42497782 0.57502218]
 [0.84203987 0.15796013]
 [0.12982852 0.87017148]
 [0.32933746 0.67066254]
 [0.14737101 0.85262899]
 [0.01065958 0.98934042]
 [0.15088741 0.84911259]
 [0.74145463 0.25854537]
 [0.84921005 0.15078995]
 [0.03891147 0.96108853]
 [0.91063114 0.08936886]
 [0.10445983 0.89554017]
 [0.90689803 0.09310197]
 [0.61780957 0.38219043]
 [0.91908671 0.08091329]
 [0.81900925 0.18099075]
 [0.04024715 0.95975285]
 [0.58731243 0.41268757]]

In [185]:
#evaluating the performance using mse

In [186]:
from sklearn.metrics import mean_squared_error,r2_score
mse = mean_squared_error(y,Y_test)
print(mse)

0.15384615384615385

In [187]:
#evaluating the performance using r2_score

In [188]:
r2 = r2_score(y,Y_test)
print(r2)

0.37549019607843126

In [189]:
#importing the liner_model

In [190]:
import  sklearn.linear_model

In [191]:
#importing the LinearRegression

In [192]:
from sklearn.linear_model import LinearRegression

In [193]:
#creating the linearRegression model

In [194]:
model = LinearRegression()

In [195]:
#fitting the model

In [196]:
model.fit(X_train,Y_train)

LinearRegression()

In [197]:
#predicting the model

In [198]:
 y = model.predict(X_test)

In [199]:
#evaluating the model performance using the mean_squared_error

In [200]:
mse = mean_squared_error(Y_test,y)
mse

0.1018217678339658

In [201]:
#evaluating using r2_Score

In [202]:
r2 = r2_score(Y_test,y)
r2

0.5866735002779064

In [203]:
#the performance of the model when comparing r2_score is better for LinearRegression rather than Logistic Regression